<template name="editprofile">
	<div class="container">
		<div class="row container">
		  <div class="col-md-4 first">
		  	<div class="col-xs-12 col-sm-6 col-lg-3">
				{{#each getprofile}}
				<img style="border:1px solid #000; border-radius: 0px;" src="{{getImg image}}" class="img-rounded center-block" alt="Avatar" width="200" height="200">
				{{/each}}
			</div>
			<div class="panel-heading">
						{{_ "EDIT"}}
					</div>
					{{#if error_message}}
					<div class="alert alert-danger" role="alert">
						<span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span style="display:inline-block" class="sr-only">Error:</span>
						{{error_message}}
					</div>
					{{/if}}
			<div class="col-xs-12 col-sm-6 col-lg-9">
				<h1 style="font-weight:bold">{{#with getprofile}}{{profile.firstname}} {{profile.lastname}}{{/with}}</h1>
				<small>{{profile.name}}</small>
				<br><br><br><br>
			</div>
			<form role="form">
				<label>{{_ "Profile Image"}}</label>
				<div class="form-group"><br><br>
					<input type="file" id="upload">
				</div>	
			</form>	  	
		  </div>
		  <div class="col-md-4 second">
		    <div class="row">
			<form role="form">
				{{#each getprofile}}
				<div class="form-group">
					<label>{{_ "First name"}}</label>
				<div class="input-group">
			<input type="text" class="set-due-date form-control" value="{{profile.firstname}}" id="firstname" style="width: 100%;" >
								</div>
							</div>
			<div class="form-group">
				<label>{{_ "Last name"}}</label>
			<div class="input-group ">
				<input type="text" class="set-due-date form-control" value="{{profile.lastname}}" id="lastname" style="width: 100%;">
				</div>
			</div>
			<div class="form-group">
				<label>{{_ "BIRTH DATE"}}</label>
				<div class="input-group ">
					<span class="input-group-addon "><i class="glyphicon glyphicon-calendar"></i></span>
					<input id ="birth" dateformat="d M y" type="date" class="set-due-date form-control" value="{{profile.birth}}">
					<span class="datepicker_label" style="pointer-events: none;"></span>
				</div>

			</div>
			{{/each}}
		</form>
		    </div>
		  </div>
		  <div class="col-md-4 third">
		    <form role="form">
				{{#each getprofile}}
				<div class="form-group" style="border-radius:0px;">
					<label>{{_ "SEX"}}</label>
					<select class="form-control" id="gender" 
					style="border-radius: 0px;
						    width: 36%;
						    margin-left: 13px;">
						<option value="{{profile.sex}}">{{profile.sex}}</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				</div>
				<div class="form-group col-sm-12">
					<label>{{_ "ADDRESS"}}</label>
						<textarea name="address" id="address" rows="8" cols="42" style="width: 104%;">{{profile.address}}</textarea>

				</div>
				{{/each}}
			</form>
			<button class="btn btn-primary btn-sm" id="updateProfile" style="margin-bottom:1px;margin-left: 20%;border-radius:0px;    width: 30%;">{{_ "EDIT"}}</button>
			<a href="/profile">
				<button type="submit" class="btn-sm"  id="close" style="border-radius:0px;    width: 30%;">{{_ "BACK"}}</button></a>
		  </div>
		 
		</div>
		 <hr style="border:1px solid #ccc;">
	</div>
</template>
